body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

html, body {
  height:100%;
  background-color: #F5F5F5 !important;
}

.btn-margin {
  margin: 10px;
}

.btn-row {
  height: 100%;
}

.center-content {
  height: 100%;
}

.indented {
  margin-left: 40px;
}

.logo-brand {
  height: 100%;
  width: auto;
}

.mainList li{
  font-size: 24px;
  margin-top: 5px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next, .prev {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: black;
  z-index: 99;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.onlyText {
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.png {
  display: block;
  background: #f5f5f5;
  margin: auto;
  width: 100%;
}

.pull-down {
  position:absolute;
  bottom:0;
  right:0;
  margin-bottom:7px;
  margin:7px;
}

.row {
  padding: 10px;
}

.shrink {
  width: 50%;
  height: 50%;
}

.slide h1, .slide li {
  margin-left:40px !important;
  margin-right:40px !important;
}

.slide p {
  margin-left: 40px !important;
  padding-top: 10px !important;
  margin-right: 40px !important;
}

#s1, #s7, #s13 {
  background-color: blue;
  color: white;
  margin: auto;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}

#s2,#s3,#s4,#s5,#s6,#s8,#s9,#s10,#s11,#s12,#s14,#s15,#s16,#s17,#s18,#s19,#s20,#s21 {
  background-color: #696969;
  color: white;
  margin: auto;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  font-size: 20px !important;
}

#s3 p, #s3 li {
  padding-top: 10px;
}
